{{ define "body" }}
{{ if .Username }}
{{ with .Param }}
<table class="table">
  <tr>
    <th>Name</th>
    <td>{{ .Name }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ .Email }}</td>
  </tr>
  <tr>
    <th>Company</th>
    <td>{{ .Company }}</td>
  </tr>
  <tr>
    <th>City</th>
    <td>{{ .City }}</td>
  </tr>
  <tr>
    <th>Zip</th>
    <td>{{ .Zip }}</td>
  </tr>
  <tr>
    <th>Geo</th>
    <td>{{ .Geo }}</td>
  </tr>
</table>
{{ end }}
{{ else }}
<a href="/login?url=/person/{{ .Param }}">Login</a>
{{ end }}
{{ end }}